.selected {
    border: 5px solid rgb(255 0 0);
    border-radius: 15px;
    font-style: italic;
    font-weight: bold;
    color: white;
    background-color: black;
}

.tile-wrapper {
    padding: 5px;
}